.sign-n-button {
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  font-weight: 500;
  color: var(--color-brand-50);
  background-color: var(--color-brand-600);
}

.sign-n-button:hover {
  background-color: var(--color-brand-700);
}

.button-signin-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

/* Responsive design */

@media (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .header-wrapper {
    order: 1;
    width: 100%;
  }

  .sidebar-wrapper {
    order: 2;
    width: 20%;
  }

  .main-wrapper {
    order: 3;
    width: 80%;
    padding: 2rem;
  }

  .dashboard-layout-container {
    display: flex;
    flex-wrap: wrap;
  }

  .stats-container {
    width: 22.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .stats-container > div {
    padding: 1rem;
  }
  .today-activiti-container,
  .chart-box-container,
  .sales-chart-container {
    width: 100%;
  }

  .stats-title {
    align-self: center;
  }

  .today-activiti-container-li {
    grid-template-columns: 9rem 2rem 1fr 7rem 11rem;
  }

  .bookings-header-container {
    flex-direction: column;
    align-items: initial;
    gap: 10px;
  }

  /* Register page */
  .register-page-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .register-form-container {
    max-width: 80%;
    margin: 0 auto;
    width: 80%;
  }
}

@media (max-width: 980px) {
  .stats-container {
    width: 22.2%;
  }
}

@media (max-width: 768px) {
  .stats-container {
    width: 21.2%;
  }

  .sidebar-wrapper {
    width: 26%;
  }

  .main-wrapper {
    width: 74%;
  }

  .booking-table-operations {
    flex-direction: column;
    justify-content: flex-start;
  }

  .bookings-body {
    width: 100%; /* Adjust the container's width as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    white-space: nowrap; /* Prevent the table from wrapping */
  }

  .bookings-row {
    width: 100%; /* Ensure the table takes full width of the container */
    min-width: 600px; /* Optional: set a minimum width for the table */
    border-collapse: collapse; /* Ensure borders are collapsed */
  }

  .cabin-form,
  .booking-form-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  .cabin-row-wrapper {
    flex-direction: column;
    align-self: self-start;
  }

  .abin-row-wrapper-operations {
    flex-direction: column;
    justify-content: flex-start;
  }
  .dashboard-header-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .stats-container {
    width: 33.33333%;
  }

  .dashboard-layout-container {
    justify-content: center;
  }

  .sidebar-wrapper {
    width: 30%;
  }

  .main-wrapper {
    width: 70%;
  }

  .cabin-row-wrapper-operations {
    flex-direction: column;
  }

  .cabin-form,
  .booking-form-wrapper {
    max-width: 65%;
  }

  .update-acount-container {
    padding: 1rem;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-wrapper input,
  .form-wrapper label {
    width: 100%;
  }

  .form-overlay {
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
  }

  .form-overlay-body {
    max-height: 100vh; /* Optional: Set to the height of the viewport */
    height: 400px; /* Set the height for the form container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Optional: Add some padding */
    box-sizing: border-box; /* Ensure padding is included in height calculation */
  }
  .today-activiti-container-li {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .booking-table-operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Login page */
  .login-page-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .hamburger-menu {
    font-size: 28px;
  }

  .sidebar-wrapper {
    padding: 7px;
  }

  .stats-container {
    width: 100%;
  }

  .chekin-box-header-container {
    display: flex;
    flex-direction: column;
  }

  .chekin-box-body-container header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .chekin-box-body-container-main div {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .booking-table-operations > div {
    display: flex;
    flex-wrap: wrap;
  }

  .cabin-form,
  .booking-form-wrapper {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .profile-details-info {
    display: flex;
    flex-direction: column;
  }

  .profile-details-info img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 380px) {
  .sidebar-wrapper {
    width: 34%;
  }

  .main-wrapper {
    width: 66%;
  }

  .bookings-header-container section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cabin-row-wrapper-operations > div {
    flex-direction: column;
    align-items: self-start;
    width: 100%;
  }

  .cabin-row-wrapper {
    width: 100%;
  }

  .cabin-row-wrapper-operations select {
    width: 100%;
  }

  .profile-container-wrapper {
    padding: 1.5rem;
  }

  .main-wrapper h1 {
    font-size: 1.8rem;
  }

  .booking-table-operations select {
    width: 100%;
  }
}
